<launch>

  <arg name="path_to_2D_maps" value="$(env HOME)/ros/Maps/2D/5th_Floor_Steinman_Hall"/>
  <arg name="map_server_yaml_file" value="$(arg path_to_2D_maps)/5th_floor_10cm.yaml"/>

  #### Virtual laser from point cloud ########  
  <include file="$(find city_flyer_rgbd_launch)/launch/proc/pointcloud_to_laser.launch" />

  #### Map server ###############
  <node name="map_server" pkg="map_server" type="map_server" 
    output="screen"
    args="$(arg map_server_yaml_file)"/>

  #### AMCL Localization  ###############
  <node name="amcl" pkg="amcl" type="amcl" 
    output="screen">

    <remap from="scan" to="scan_virtual_from_cloud"/>

    <param name="base_frame_id" value="base_ortho"/>  
    <param name="odom_model_type" value="omni"/>
    <param name="odom_alpha1" value="0.5"/> # noise in odometry's rotation estimate from the rotational component of the robot's motion
    <param name="odom_alpha2" value="0.01"/> #  
    <param name="odom_alpha3" value="2.0"/> # noise in odometry's translation estimate from the translational component of the robot's motion.
    <param name="odom_alpha4" value="0.01"/> #  
    <param name="odom_alpha5" value="0.5"/> # Translation-related noise parameter
    <param name="laser_max_beams" value="100"/>
    <param name="laser_sigma_hit" value="0.4"/> # Standard deviation for Gaussian model used in z_hit part of the model.
    <param name="laser_model_type" value="likelihood_field"/>

    <param name="min_particles" value="400"/>
    <param name="max_particles" value="1500"/>

  </node>
  
  ##### Waypoint Navigation (obstacle avoidance)
  <node pkg="mav_ctrl_interface" type="ctrl_interface_node" name="CtrlInterface" output="screen">
    <param name="direct_pos_ctrl" value="false"/>
    <param name="fixed_frame" value="/map"/>

    <rosparam file="$(find mav_ctrl_interface)/launch/costmap_params.yaml" command="load"/>
  </node>

</launch>
