<!--
Launches the entire CityFlyer system in offline mode, using raw data
recorded in a bag file.
-->

<launch>

  <arg name="bag_name"/>

  #### Nodelet manager #########################################################

  <node pkg="nodelet" type="nodelet" name="pelican_manager" 
    args="manager" output="screen" />

  #### Data Playback #########################################################

  <include file="$(find city_flyer_launch)/launch/misc/play_livedata.launch">
    <arg name="bag_name" value="$(arg bag_name)" />
  </include>
 
   #### Data Processing #########################################################

  <include file="$(find city_flyer_launch)/launch/proc/procdata.launch"/>

</launch>



