<launch>

  <node pkg="rqt_plot" type="rqt_plot" name="plot_xyz" 
    args="/mav/pose/pose/position/x:y:z,/mav/cmd/pose/pose/position/x:y:z
         -b MatDataPlot"/>

  <node pkg="rqt_plot" type="rqt_plot" name="plot_xyz_3d" 
    args="-M 3d /mav/pose/pose/position/x:y:z
         -b MatDataPlot"/>

</launch>
