<!--
Launches the entire CityFlyer system, and records the unprocessed
data to a bag file.
-->

<launch>

  <arg name="bag_name" value="$(env HOME)/ros/bags/rgbd/pos_hold_01.bag"/>

  #### Nodelet manager #########################################################

  <node pkg="nodelet" type="nodelet" name="pelican_manager" 
    args="manager" output="screen" />

  #### Data Aquisition #########################################################

  <include file="$(find city_flyer_rgbd_launch)/launch/live/livedata.launch"/>

  #### Data Recording ##########################################################

 # <include file="$(find city_flyer_rgbd_launch)/launch/misc/record_pose+rgbd_data.launch">
  <include file="$(find city_flyer_rgbd_launch)/launch/misc/record_pose.launch">
    <arg name="bag_name" value="$(arg bag_name)" />
  </include>

  #### Data Processing #########################################################

  <include file="$(find city_flyer_rgbd_launch)/launch/proc/procdata.launch"/>

</launch>



