<!--
Launches the odometry interface package, which is reposnsible for
assembling all the different (partial) pose messages into a 
6DoF pose and publishing the corresponding TF. 
-->

<launch>


  <node pkg="mav_odom_interface" type="odom_interface_node" name="odom_interface" 
    output="screen">

  </node>
  
  #### AB filter ###########################################################

  <node pkg="ab_filter" type="ab_filter_pose_node" 
    name="ab_filter_pose" output="screen">

    <param name="alpha"               value="0.9"/>
    <param name="beta"                value="0.2"/>
    <param name="publish_unfiltered"  value="true"/>

  </node>
   
</launch>

